body {
	font-family: 'Karla', sans-serif;
	font-size: 16px;
	background-color: hsl(204, 43%, 93%);
}
h2,
h3 {
	margin-top: 0;
}
p {
	margin-top: 0;
}

main {
	min-height: 100vh;
}

.card {
	max-width: 312px;
	margin: 2em auto;
	box-sizing: border-box;
	font-size: 0.85em;
}

.card__join {
	border-radius: 5px 5px 0 0;
	padding: 2em 1.5em 1em 1.5em;
	background-color: #ffffff;
	color: hsl(218, 22%, 67%)
}

.card__join h2 {
	margin-top: 0;
	color: hsl(179, 62%, 43%);
}

.card__join h3 {
	margin-top: 0;
	color: hsl(71, 73%, 54%)
}

.card__join p {
	line-height: 2em;
}


.card__subscription {
	padding: 2em 1.5em 1em 1.5em;
	background-color: hsl(179, 62%, 43%);
	color: #ffffff;
}
.card__subscription-price {
	color: hsl(179, 83%, 49%);
	display: flex;
	align-items: center;
}

.card__subscription-price  span {
	font-size: 2.5em;
	font-weight: bold;
	color: #ffffff;
	padding-right: 0.5em;
}
.card__subscription p {
	line-height: 2em;
}

.card__subscription button {
	color: #ffffff;
	background-color:hsl(71, 73%, 54%);
	width: 100%;
	border: 0;
	border-radius: 5px;
	padding: 1.1em 0;
	margin-top: 1em;
	font-weight: bold;
	font-size: 1.1em;
}



.card__why {
	padding: 2em 1.5em 1em 1.5em;
	background-color: hsl(179, 62%, 48%);
	color: #ffffff;
	border-radius: 0 0 5px 5px;
}
.card__why ul {
	list-style: none;
	padding: 0;
	line-height: 1.5em;
}


@media (min-width: 1440px) {

	
main {
	display: flex;
	justify-content: center;
	align-items: center;
}
.card {
	max-width: 635px;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	flex-wrap: wrap;
	/* font-size: 1em; */
}
.card__join {
	padding: 2.5em 2.5em 1em 2.5em;
}
.card__subscription,
.card__why {
	box-sizing: border-box;	
	padding: 2.5em 2.5em 1em 2.5em;
	width: 50%;	
}

.card__subscription {
	border-radius: 0 0 0 5px;
}
.card__why {
	border-radius: 0 0 5px 0;
}



}